<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastUsedVersionDirectoryName</key>
	<string>V10</string>
	<key>VersionDirectoryIdentifiers</key>
	<dict>
		<key>V10</key>
		<string>D0D4F165-A0D1-44BF-98D2-254443F23FAB</string>
	</dict>
</dict>
</plist>
