<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxHasBeenImported</key>
	<string>Yes</string>
	<key>MailboxID</key>
	<string>37C1E78A-4B6E-4638-9154-07519F0C18BD</string>
	<key>MailboxName</key>
	<string>Drafts</string>
</dict>
</plist>
